@{
    ViewBag.Title = "Welcome";
}

<link href="~/Content/Site.css" rel="stylesheet" />

<!-- Table, yet empty one-->
<div class="col-md-12">
    <table class="table">
        <thead>
            <tr>
                <th>1st</th>
                <th>2nd</th>
                <th>3rd</th>
            </tr>
        </thead>
        <tr>
            <td>data</td>
            <td>data</td>
            <td>data</td>
        </tr>
        <tr>
            <td>data</td>
            <td>data</td>
            <td>data</td>
        </tr>
        <tfoot>
            <tr>
                <th>Total</th>
                <td></td>
                <td></td>
            </tr>
        </tfoot>

    </table>

    <div class="col-md-6" align="left" id="filter">
        <table>
            <tr><td>Filter:</td><td><input type="text" name="haku" /></td><td><button type="button" onclick="alert('Cannot connect to database')">Filter</button></td></tr>
        </table>
    </div>
</div>



<!-- Form for adding a product.
     Model FormData handles the values
     FormController handles the actions. -->

<div class ="col-md-12" id="form">

    <h2>Add a product</h2>

    <div class="col-md-2">
        <!-- center the form -->
    </div>

    <form method=post action="/Form/FormOne" class="col-md-8">

        <table class="table" id="formtable" align="center">
            
            <tr><td>Product name</td> <td><input type="text" name="prNameData" /></td></tr>
            <tr><td>EAN code</td> <td><input type="text" name="prEANData" /></td></tr>
            <tr><td>Product Key</td> <td><input type="text" name="prCodeData" /></td></tr>
            <tr><td>Manufacturer</td> <td><input type="text" name="prManufacturerData" /></td></tr>
            <tr><td>Category</td> 
                <td>
                    <select name="prCategoryData">
                        <option selected value="Components">Components</option>
                        <option value="Computers">Computers</option>
                        <option value="Cooling systems">Cooling systems</option>
                        <option value="Peripheral devices">Peripheral devices</option>
                        <option value="Softwares">Softwares</option>
                    </select>
                </td>
            </tr>
            <tr><td>Price</td> <td><input type="text" name="prPriceData" /></td></tr>
            <tr><td>Warranty</td> <td><input type="checkbox" name="prWarrantyData" /></td> </tr>
            <tr><td></td> <td><input type="number" name="prWarMonthData" /> months</td><</tr>
            <tr><td>Type</td> <td><input type="radio" name="prIsStorageProductData" value="productStorage" /> Standing Selection</td></tr>  
            <tr><td></td> <td><input type="radio" name="prIsStorageProductData" value="productOrder" /> Not in standing selection</td></tr>
            <tr><td>In stock</td> <td><input type="checkbox" name="prSaldoPositiveData" /></td></tr>
            <tr><td></td> <td><input type="number" name="prSaldoData" /> pcs</td></tr>
        </table>
    </form>

    <div class="col-md-2">
        <!-- Center the form -->
    </div>

</div>